[submodule "frontend"]
	path = frontend
	url = https://github.com/psu6810110202/bookstore-frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/psu6810110202/wd-nest-book-store.git
